* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 95%;
}

header {
  width: 100%;
  height: 115px;
  border-bottom: 1px solid #cfcfcf;
}

.logo {
  display: flex;
  padding-left: 1.8rem;
}

.logo img {
  width: 90px;
}

.logo h2 {
  font-weight: 400;
  position: relative;
  top: 15px;
  left: 3px;
  color: #616369;
}

.nav ul {
  list-style: none;
  display: flex;
}

.nav ul li {
  margin: 0 1rem;
  font-weight: 600;
  color: #616369;
}

#blue {
  border-bottom: 3px solid #4675d9;
  padding-bottom: 0.4rem;
  color: #4675d9;
}

.container {
  width: 65%;
  margin: 6rem auto;
}

h2 {
  margin-bottom: 1.5rem;
  color: #45494c;
}

h3 {
  margin: 2rem 0;
  color: #45494c;
}

p {
  margin-bottom: 2rem;
  line-height: 1.5rem;
}

a {
  text-decoration: none;
  color: #4675d9;
}

ol {
  padding-left: 1rem;
}

ol:first-child {
  margin-bottom: 1rem;
}

ul {
  list-style: lower-alpha;
  padding-left: 1rem;
  margin: 1.5rem 0;
}

li {
  margin: 2rem 0;
  line-height: 1.5rem;
}
